facility-search/facility-search-web/src/main/webapp/WEB-INF/wsdls/ELDM-wsdl/CustomerManagementV1/SI/WSDL/ReferenceData.wsdl

<wsdl:definitions name="ReferenceDataPS" 
	targetNamespace="http://services.apmoller.net/AMM/ReferenceData/v1" 
	xmlns:abns="http://services.apmoller.net/AMM/ReferenceData/v1" 
	xmlns:service="http://services.apmoller.net/AMM/ReferenceData/v1" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:frexcp="http://services.apmoller.net/ManagementFramework/ServiceException/v2" 
	xmlns:frhead="http://services.apmoller.net/ManagementFramework/CommonIdentifier/v2" 
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">

	<!-- DON'T REMOVE -->
	<wsdl:documentation>
		<wsdl:documentation>Concrete WSDL that is imported and used by Proxy
			Service(s) - please replace "ServiceName" and "version" with concrete
			values </wsdl:documentation>
		<wsdl:documentation>Project Template 4</wsdl:documentation>
	</wsdl:documentation>

	<wsdl:import namespace="http://services.apmoller.net/AMM/ReferenceData/v1" location="ReferenceDataAbstract.wsdl"/>
	<wsdl:import namespace="http://services.apmoller.net/USI/policy/v2.0" location="../../../SharedInterfaceResources/WSPolicy/USIPolicyV2.wsdl"/>

	<wsdl:types>
		<xsd:schema targetNamespace="http://services.apmoller.net/AMM/v4">
			<xsd:import namespace="http://services.apmoller.net/ManagementFramework/CommonIdentifier/v2" schemaLocation="../../../SharedInterfaceResources/ManagementFramework/Header/v2/CommonIdentifierV2.xsd"/>
			<xsd:import namespace="http://services.apmoller.net/ManagementFramework/ServiceException/v2" schemaLocation="../../../SharedInterfaceResources/ManagementFramework/Fault/v2/ServiceExceptionV2.xsd"/>
		</xsd:schema>
	</wsdl:types>

	<!-- Framework message level -->
	<wsdl:message name="SoapHeaderInfo">
		<wsdl:part name="commonIdentifierRequest" element="frhead:CommonIdentifierRequest"/>
		<wsdl:part name="commonIdentifierResponse" element="frhead:CommonIdentifierResponse"/>
		<wsdl:part name="commonIdentifierFault" element="frhead:CommonIdentifierFault"/>
	</wsdl:message>

	<!-- ReferenceData binding -->
	<wsdl:binding name="ReferenceDataBinding" type="abns:ReferenceDataPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:Policy>
			<wsp:PolicyReference URI="#wss_username_token_service_policy"/>
		</wsp:Policy>
		<wsdl:operation name="RetrieveCustomerType">
			<soap:operation soapAction="RetrieveCustomerType"/>
			<wsdl:input>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierRequest"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierResponse"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault use="literal" name="Fault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetrieveCustomerStatus">
			<soap:operation soapAction="RetrieveCustomerStatus"/>
			<wsdl:input>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierRequest"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierResponse"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault use="literal" name="Fault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetrieveCustomerStatusReason">
			<soap:operation soapAction="RetrieveCustomerStatusReason"/>
			<wsdl:input>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierRequest"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierResponse"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault use="literal" name="Fault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetrieveReferenceNumberCodes">
			<soap:operation soapAction="RetrieveReferenceNumberCodes"/>
			<wsdl:input>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierRequest"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierResponse"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault use="literal" name="Fault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetrieveTaxNumberCodes">
			<soap:operation soapAction="RetrieveTaxNumberCodes"/>
			<wsdl:input>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierRequest"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierResponse"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault use="literal" name="Fault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetrieveCountry">
			<soap:operation soapAction="RetrieveCountry"/>
			<wsdl:input>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierRequest"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierResponse"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault use="literal" name="Fault"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetrieveCity">
			<soap:operation soapAction="RetrieveCity"/>
			<wsdl:input>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierRequest"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" message="service:SoapHeaderInfo" part="commonIdentifierResponse"/>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault use="literal" name="Fault"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="ReferenceDataService">
		<port name="ReferenceDataServicePort" binding="service:ReferenceDataBinding">
			<soap:address location="http://www.maerskline.com/services/ReferenceData/v1"/>
		</port>
	</wsdl:service>

</wsdl:definitions>