facility-search/facility-search-web/src/main/webapp/WEB-INF/wsdls/cmdsmdsxsd/SMDS-CommonEnumsElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cmd="http://services.apmoller.net/cmd/schemas"
	elementFormDefault="qualified" targetNamespace="http://services.apmoller.net/cmd/schemas">
	<xs:include schemaLocation="SMDS-BasicTypes.xsd" />
	<xs:element name="DeleteFlag" type="xs:boolean">
		<xs:annotation>
			<xs:documentation> Indicator if an entity or a relation should be
				deleted (DeleteFlag = 1).
				Will set the entity or relationship to
				inactive in the MDM-Hub. Only to
				be used if there is
				no separate flag
				to set the status of the entity.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Building">
		<xs:annotation>
			<xs:documentation> Building to be used in address type and
				searchCustomer , previously address
				line 2
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="128" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Suburb">
		<xs:annotation>
			<xs:documentation> Suburb to be used in address type and
				searchCustomer, previously address
				line 3
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="District">
		<xs:annotation>
			<xs:documentation> District to be used in address type and
				searchCustomer
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HouseNo">
		<xs:annotation>
			<xs:documentation> House number to be used in address type and
				searchCustomer
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AddrRowID">
		<xs:annotation>
			<xs:documentation> Address row ID for use in GEO Write Back Service.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

	<xs:element name="StreetName">
		<xs:annotation>
			<xs:documentation> Streetname to be used in address type and
				searchCustomer
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="200" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="City">
		<xs:annotation>
			<xs:documentation> City to be used in address type and searchCustomer
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country" type="cmd:ISOCountryCode">
		<xs:annotation>
			<xs:documentation> Country to be used in address type and
				searchCustomer
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Region">
		<xs:annotation>
			<xs:documentation> Region to be used in address type and
				searchCustomer
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="35" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PostalCode">
		<xs:annotation>
			<xs:documentation> PostalCode to be used in address type and
				searchCustomer
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PoBox">
		<xs:annotation>
			<xs:documentation> PoBox to be used in address type and
				searchCustomer
			</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TechnicalIdentifier" type="xs:string">
		<xs:annotation>
			<xs:documentation> Technically unique identifier (RowId) required for
				LoadByRowId feature of
				create and update
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- All Enums for CMD -->
	<xs:simpleType name="WorkflowEnum">
		<xs:annotation>
			<xs:documentation> Enumeration indicating which workflows should be
				triggered (e.g. which
				conditions have been violated on address and
				customer) NONE - No violation
				ADDRESS-OVERRIDE
				- Address was
				overwritten DUPLICATE - Customer had a match on
				duplicate check but
				this was
				being ignored
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE" />
			<xs:enumeration value="ADDRESS-OVERRIDE" />
			<xs:enumeration value="ADDRESS-QUALITY" />
			<xs:enumeration value="SUSPENDTOACTIVE" />
			<xs:enumeration value="REACTIVATE" />
			<xs:enumeration value="DUPLICATE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CustomerTypes" type="cmd:CustomerTypeEnum">
		<xs:annotation>
			<xs:documentation> ZEXC External Customer ZICC APM Owned
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="UpsertEnum">
		<xs:annotation>
			<xs:documentation> Enumeration indicating if the record was updated
				or created (to control
				ActiveVOS workflow) CREATE - Record was
				created, UPDATE - Record was
				updated,REJECT - Record was
				rejected.Also depending on the
				Action from IDD ,IDD_TYPE_CHANGE for
				type change in IDD, IDD_STATUS_CHANGE
				for status changed in
				IDD,IDD_ASSIGN_KEY_CLIENT for key client
				assignment
				in IDD and
				IDD_UNASSIGN_KEY_CLIENT based on key client unassignment in
				IDD.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CREATE" />
			<xs:enumeration value="UPDATE" />
			<xs:enumeration value="CREATE_APPROVE" />
			<xs:enumeration value="UPDATE_APPROVE" />
			<xs:enumeration value="INACTIVATE"/>
			<xs:enumeration value="TYPE_CHANGE" />
			<xs:enumeration value="STATUS_CHANGE" />
			<xs:enumeration value="DPL_APPROVE" />
			<xs:enumeration value="DPL_REJECT" />
			<xs:enumeration value="CREATE_REJECT" />
			<xs:enumeration value="UPDATE_REJECT" />
			<xs:enumeration value="ASSIGN_KEY_CLIENT" />
			<xs:enumeration value="UNASSIGN_KEY_CLIENT" />
			<xs:enumeration value="ASSIGN_SEGMENT" />
			<xs:enumeration value="UNASSIGN_SEGMENT" />
			<xs:enumeration value="RELATION_CREATE" />
			<xs:enumeration value="RELATION_UPDATE" />
			<xs:enumeration value="CONCERN_CREATE_UPDATE" />
			<xs:enumeration value="CONCERN_INACTIVATE" />
			<xs:enumeration value="REJECT"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Brand only relevant for release 2 -->
	<xs:simpleType name="OperatorTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MAEU">
				<xs:annotation>
					<xs:appinfo>MAERSK LINES</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAFM">
				<xs:annotation>
					<xs:appinfo>SAFMARINE</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEJJ">
				<xs:annotation>
					<xs:appinfo>SEAGO LINE</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEAU">
				<xs:annotation>
					<xs:appinfo>SEA-LAND SERVICE</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MCCQ">
				<xs:annotation>
					<xs:appinfo>MCC TRANSPORT</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MCPU">
				<xs:annotation>
					<xs:appinfo>MCCQ REPLACEMENT</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--Communication preference related types only relevant for release 3 -->
	<xs:simpleType name="DocumentTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Booking confirmation" />
			<xs:enumeration value="Quotation" />
			<xs:enumeration value="Billing of lading" />
			<xs:enumeration value="Waybill" />
			<xs:enumeration value="Invoice" />
			<xs:enumeration value="Dunning letter" />
			<xs:enumeration value="Financial statement" />
			<xs:enumeration value="Status notification" />
			<xs:enumeration value="Arrival Notice" />
			<xs:enumeration value="Status change alert" />
		</xs:restriction>
	</xs:simpleType>
	<!--Communication preference related types only relevant for release 3 -->
	<xs:simpleType name="CommunicationMeansEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Telephone" />
			<xs:enumeration value="Mobile phone" />
			<xs:enumeration value="Email" />
			<xs:enumeration value="Fax" />
			<xs:enumeration value="Post" />
			<xs:enumeration value="Internet Alert" />
			<xs:enumeration value="Portal" />
			<xs:enumeration value="Do not send" />
		</xs:restriction>
	</xs:simpleType>
	<!--Communication preference related types only relevant for release 3 -->
	<xs:simpleType name="CustomerRolesEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ContractualOwner" />
			<xs:enumeration value="AffiliateToContract" />
			<xs:enumeration value="BookedByCustomer" />
			<xs:enumeration value="InvoiceParty" />
			<xs:enumeration value="DemurrageDealOwner" />
			<xs:enumeration value="DetentionDealOwner" />
			<xs:enumeration value="DemurrageInvoiceParty" />
			<xs:enumeration value="DetentionInvoiceParty" />
			<xs:enumeration value="NamedAccountCustomer" />
			<xs:enumeration value="Shipper" />
			<xs:enumeration value="Consignee" />
			<xs:enumeration value="NotifyParty" />
			<xs:enumeration value="AdditionalNotifyParty" />
			<xs:enumeration value="CarrierHaulageSiteWarehouse" />
			<xs:enumeration value="ReleaseToParty" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ReferenceTypeEnum">
		<xs:annotation>
			<xs:documentation> EOR EORI Economic Operator Identification and
				Registration DOD DODAC_ID US
				Government Location code SAN Shipping
				Association Number Shipping Association
				Number COR
				Customer Own
				Reference Customer's Own Reference FOF FOFMCD_ID Federal
				Maritime
				Commission
				Code SIR SIREN SIREN APM AMPS Trading Partner ID AMPS
				Trading Partner ID
				BVD BvD ID Number
				Bureau van Dijk Identification
				Number DUN D.U.N.S Dun &amp; Bradstreet
				Identification Number
				BRN
				Business Registration number Business Registeration Number TCO Tax
				Collection Office
				Name Tax Collection Office Name CUS Customer
				Reference Customer
				Reference
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EOR" />
			<xs:enumeration value="DOD" />
			<xs:enumeration value="SAN" />
			<xs:enumeration value="COR" />
			<xs:enumeration value="FOF" />
			<xs:enumeration value="SIR" />
			<xs:enumeration value="APM" />
			<xs:enumeration value="BVD" />
			<xs:enumeration value="DUN" />
			<xs:enumeration value="BRN" />
			<xs:enumeration value="TCO" />
			<xs:enumeration value="CUS" />
			<xs:enumeration value="BVD_GUO" />
			<xs:enumeration value="BVD_HQ" />
			<xs:enumeration value="ED1" />
			<xs:enumeration value="ED2" />
			<xs:enumeration value="ED3" />
			<xs:enumeration value="SFDC" />

			<!--xs:enumeration value="CUSTOMS_ID" /> -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerLifeCycleStatusEnum">
		<xs:annotation>
			<xs:documentation> A Active I Inactive S Suspended </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="I" />
			<xs:enumeration value="S" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContactLifeCycleStatusEnum">
		<xs:annotation>
			<xs:documentation> A Active I Inactive S Suspended </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="I" />
			<!-- <xs:enumeration value="S"/> -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerTypeEnum">
		<xs:annotation>
			<xs:documentation> ZEXC External Customer ZICC APM Owned
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ZEXC" />
			<xs:enumeration value="ZICC" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerStatusReasonEnum">
		<xs:annotation>
			<xs:documentation> Different status reasons for a restricted or
				inactive customers. 0 - is not
				existing and only used for retrieval
				from the database since an int can't be
				"null"
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="15" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxNumberTypeEnum">
		<xs:annotation>
			<xs:documentation> TAXNO1 Tax Number 1 TAXNO2 Tax Number 2 TAXNO3 Tax
				Number 3 TAXNO4 Tax Number 4 VATALT Foreign VAT Reg. Number VATREG
				VAT Registration Number. ALTREG Alternate Registration Number
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TAXNO1" />
			<xs:enumeration value="TAXNO2" />
			<xs:enumeration value="TAXNO3" />
			<xs:enumeration value="TAXNO4" />
			<xs:enumeration value="VATALT" />
			<xs:enumeration value="VATREG" />
			<xs:enumeration value="ALTREG" />
		</xs:restriction>
	</xs:simpleType>



	<xs:simpleType name="PhoneNumberTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MOB" />
			<xs:enumeration value="TEL" />
		</xs:restriction>
	</xs:simpleType>

	<!-- All Enums for Facility Starts -->
	<xs:simpleType name="FacilityCategoryEnum">
		<xs:annotation>
			<xs:documentation>
				Operational
				Commercial
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPS" />
			<xs:enumeration value="COMM" />
			<xs:enumeration value="CUST" />
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="FacilityLifecycleStatus" type="cmd:FacilityLifeCycleStatusEnum"
		default="A">
		<xs:annotation>
			<xs:documentation> Status of the facility (e.g. Active, Pending,
				Inactive).
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="FacilityLifeCycleStatusEnum">
		<xs:annotation>
			<xs:documentation>
				A Active
				I Inactive
				S Suspended
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A" />
			<xs:enumeration value="I" />
			<xs:enumeration value="P" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="latitudeType">
		<xs:annotation>
			<xs:documentation>
				The latitude of the point. Decimal degrees, WGS84
				datum.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-90.0" />
			<xs:maxInclusive value="90.0" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="longitudeType">
		<xs:annotation>
			<xs:documentation>
				The longitude of the point. Decimal degrees, WGS84
				datum.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="-180.0" />
			<xs:maxExclusive value="180.0" />
		</xs:restriction>
	</xs:simpleType>
	<!-- All Enums for Facility Ends -->
	<xs:simpleType name="CommPreferenceTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Telephone" />
			<xs:enumeration value="Email" />
			<xs:enumeration value="Fax" />
			<xs:enumeration value="Do not send" />
			<xs:enumeration value="Print" />
			<xs:enumeration value="Web" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
