facility-search/facility-search-web/src/main/webapp/WEB-INF/wsdls/ELDM-wsdl/CustomerManagementV1/SI/XSD/mdm_avos_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="urn:informatica.mdm.av.xsd" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:mdmavxsd="urn:informatica.mdm.av.xsd" 
		elementFormDefault="qualified">
	
	<xsd:element name="startProcessResponse" type="mdmavxsd:StartProcessResponse" />
	<xsd:element name="startProcessRequest" type="mdmavxsd:StartProcessRequest" />
	
	<xsd:element name="processTaskResponse" type="mdmavxsd:ProcessTaskResponse" />
	<xsd:element name="processTaskRequest" type="mdmavxsd:ProcessTaskRequest" />

	<xsd:complexType name="StartProcessRequest">
		<xsd:sequence>
			<xsd:element name="INFATask" type="mdmavxsd:INFATask" />			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="StartProcessResponse">
		<xsd:sequence>
			<xsd:element name="processId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ProcessTaskRequest">
		<xsd:sequence>
			<xsd:element name="INFATask" type="mdmavxsd:INFATask" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProcessTaskResponse">
		<xsd:sequence  maxOccurs="unbounded">
			<xsd:element name="INFATask" type="mdmavxsd:INFATask"  minOccurs="0"	maxOccurs="1"/>
			<xsd:element name="actionName" type="xsd:string"  minOccurs="0"		maxOccurs="1"/>	
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:complexType name="TaskType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="name" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Name of the Task. It is hardcoded here. Always put CustomerOneStepApprovalWorkflow</documentation>
				</annotation></xsd:element>
			<xsd:element name="displayName" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Display name of the Task. It is hardcoded here. Always put Customer One Step Approval Workflow</documentation>
				</annotation></xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Description of the Task. It is hardcoded here. Always put Customer One Step Approval Workflow Cluster Specific.</documentation>
				</annotation></xsd:element>
			<xsd:element name="pendingBVT" type="xsd:boolean" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Put "flase".</documentation>
				</annotation></xsd:element>
			<xsd:element name="dataUpdateType" type="xsd:string"
				minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Put "ACTIVE"</documentation>
				</annotation></xsd:element>
			<xsd:element name="displayType" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Put "NORMAL"</documentation>
				</annotation></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INFARecordKey">
		<xsd:annotation>
			<xsd:documentation>This is a single RecordKey object.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="rowId" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="pkeySrcObject" type="xsd:string"
				minOccurs="0" maxOccurs="1" />
			<xsd:element name="system" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="rowidXref" type="xsd:string"
				minOccurs="0" maxOccurs="1" />				
			<xsd:element name="tableUID" type="xsd:string" minOccurs="1"
				maxOccurs="1" >
				<annotation>
					<documentation>BASE_OBJECT.C_B_PTR_PARTY_ROLE
XREF.C_B_PTR_PARTY_ROLE</documentation>
				</annotation></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaskRecords">
		<xsd:sequence>
			<xsd:element name="INFARecordKey" type="mdmavxsd:INFARecordKey"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaskData">
		<xsd:annotation>
			<xsd:documentation>This is a single TaskData object.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="taskId" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Keep it blank</documentation>
				</annotation></xsd:element>
			<xsd:element name="ownerUID" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Name of the country specific cluster to be given to allow the task to get assigned to all the users belonging to that particular cluster.</documentation>
				</annotation></xsd:element>
			<xsd:element name="dueDate" type="xsd:dateTime" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Use date in the following format.
2015-06-26T18:38:10.424Za</documentation>
				</annotation></xsd:element>
			<xsd:element name="status" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Put "Open"</documentation>
				</annotation></xsd:element>
			<xsd:element name="priority" type="xsd:int" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Put "0"</documentation>
				</annotation></xsd:element>
			<xsd:element name="subjectAreaUID" type="xsd:string"
				minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Name of the IDD subject area. For example SUBJECT_AREA.SearchMatchIDDAVOSPOC|Role</documentation>
				</annotation></xsd:element>
			<xsd:element name="title" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>This field should have meaningful value that reflects nature of the task in the task list</documentation>
				</annotation></xsd:element>
			<xsd:element name="comments" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Can be same as the title with some additional details if required.</documentation>
				</annotation></xsd:element>
			<xsd:element name="interactionId" type="xsd:string"
				minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Every operation is bounded by intercation id which in this case can be Customer ROW_ID+1M.</documentation>
				</annotation></xsd:element>
			<xsd:element name="creator" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Creator of the task</documentation>
				</annotation></xsd:element>
			<xsd:element name="createDate" type="xsd:dateTime"
				minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Use date in the following format.
2015-06-26T18:38:10.424Za</documentation></annotation></xsd:element>
			<xsd:element name="updatedBy" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Task updated by</documentation>
				</annotation></xsd:element>
			<xsd:element name="lastUpdateDate" type="xsd:dateTime"
				minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Use date in the following format.
2015-06-26T18:38:10.424Za</documentation></annotation></xsd:element>
			<xsd:element name="taskRecords" type="mdmavxsd:TaskRecords"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INFATaskAction">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="name" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Put "FinalReviewTask"</documentation>
				</annotation></xsd:element>
			<xsd:element name="displayName" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Put "Final Review"</documentation>
				</annotation></xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Put "Final Review Task"</documentation>
				</annotation></xsd:element>
			<xsd:element name="cancelTask" type="xsd:boolean" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Put "true"</documentation>
				</annotation></xsd:element>
			<xsd:element name="closeTaskView" type="xsd:boolean"
				minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Put &quot;true&quot;</documentation></annotation></xsd:element>
			<xsd:element name="manualReassign" type="xsd:boolean"
				minOccurs="0" maxOccurs="1" >
				<annotation>
					<documentation>Put &quot;true&quot;</documentation></annotation></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaskActions">
		<xsd:sequence>
			<xsd:element name="INFATaskAction" type="mdmavxsd:INFATaskAction"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="INFATask">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="hubUsername" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Use MDM hub user name such as admin</documentation>
				</annotation></xsd:element>
			<xsd:element name="hubPassword" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Use MDM hub password corresponding to the user name supplied</documentation>
				</annotation></xsd:element>
			<xsd:element name="securityPayload" type="xsd:hexBinary" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>No need to put any value over here</documentation>
				</annotation></xsd:element>
			<xsd:element name="orsId" type="xsd:string" minOccurs="0"
				maxOccurs="1" >
				<annotation>
					<documentation>Put exact MDM ORS Id value used for normal SIF API calls</documentation>
				</annotation></xsd:element>
			<xsd:element name="taskType" type="mdmavxsd:TaskType" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="taskData" type="mdmavxsd:TaskData" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="actions" type="mdmavxsd:TaskActions" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="workflowVersion" type="xsd:int" minOccurs="0"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>	
		<xsd:simpleType name="TypeEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="" />
	
		</xsd:restriction>
	</xsd:simpleType>
		
</schema>