facility-search/facility-search-web/src/main/webapp/WEB-INF/wsdls/CMD-ReferenceDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.apmoller.net/cmd/definitions/v2"
	xmlns:schema="http://services.apmoller.net/cmd/schemas" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://services.apmoller.net/cmd/definitions/v2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

 
	<wsdl:import location="CMD-ReferenceDataService_Abstract.wsdl"
		namespace="http://services.apmoller.net/cmd/definitions/v2" />


	<wsdl:binding name="CMDReferenceDataBinding" type="tns:CMDReferenceData">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="retrieveCustomerType">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveCustomerType" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>

			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveCustomerStatus">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveCustomerStatus" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveCustomerStatusReason">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveCustomerStatusReason" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveReferenceNumberCodes">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveReferenceNumberCodes" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveTaxNumberCodes">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveTaxNumberCodes" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveTaxTypeLocalName">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveTaxTypeLocalName" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="retrieveSegmentation">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveSegmentation" />
			<wsdl:input>
				<soap:header use="literal" message="tns:referenceDataHeader"
					part="header" />
				<soap:body use="literal" />

			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">    

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="retrieveSegmentTypes">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveSegmentTypes" />
			<wsdl:input>
				<soap:header use="literal" message="tns:referenceDataHeader"
					part="header" />
				<soap:body use="literal" />

			</wsdl:input>  
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">    

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="retrieveCustomerContactTypes">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveCustomerContactTypes" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveDocumentTypes">
			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveDocumentTypes" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveCommPrefTypes">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveCommPrefTypes" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="retrieveBrands">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveBrands" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="retrieveRelationshipTypes">

			<soap:operation
				soapAction="http://services.apmoller.net/cmd/definitions/v2/retrieveRelationshipTypes" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">

				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="CMDReferenceDataService">
		<wsdl:port name="ReferenceDataPort" binding="tns:CMDReferenceDataBinding">
			<soap:address
				location="http://scrbipcdk001152:37001/ReferenceDataWebservices/v2/CMDReferenceDataService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
